<nav-bar></nav-bar>
<div class="container">

    <legend>Users</legend>

    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2 col-md-offset-10">
            <button type="button" class="btn btn-default btn-md" ng-click="createUser();">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New User
            </button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Project Managers</div>

                <table class="table">
                    <tr>
                        <th>id</th><th>Username</th><th>Display name</th><th>email</th><th></th>
                    </tr>
                    <tr ng-repeat="pm in projectManagers">
                        <td>{{pm.id}}</td>
                        <td>{{pm.username}}</td>
                        <td>{{pm.display_name}}</td>
                        <td>{{pm.email}}</td>
                        <td><a href ng-click="editUser(pm);">Edit</a></td>
                    </tr>
                </table>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Developers</div>

                <table class="table">
                    <tr>
                        <th>id</th><th>Username</th><th>Display name</th><th>email</th><th></th>
                    </tr>
                    <tr ng-repeat="dev in developers">
                        <td>{{dev.id}}</td>
                        <td>{{dev.username}}</td>
                        <td>{{dev.display_name}}</td>
                        <td>{{dev.email}}</td>
                        <td><a href ng-click="editUser(dev);">Edit</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>