<nav-bar></nav-bar>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <legend>Projects</legend>
            <nav-column delegate="self"></nav-column>
        </div>
        <div class="col-md-10">
            <div class="container">

                <legend>{{activityTypes[activityTypeIndex].title}}</legend>

                <div class="row">
                    <!--Development-->
                    <div class="col-md-12" ng-show="activityTypeIndex == 0">
                        dev
                    </div>

                    <!--Defect Removal-->
                    <div class="col-md-12" ng-show="activityTypeIndex == 1">
                        <defect-form delegate="self"></defect-form>
                    </div>

                    <!--Management-->
                    <div class="col-md-12" ng-show="activityTypeIndex == 2">
                        management
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>