<nav-bar></nav-bar>
<div class="container">
    <form name="loginForm" ng-submit="loginForm.$valid && login()" novalidate>

        <input type="text" id="username" class="form-control" placeholder="Username" ng-model="username" required autofocus>
        <input type="password" id="password" class="form-control" placeholder="Password" ng-model="password" required>

        <br>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
    <h3>Note</h3>
    <p>This is created by Group 23 Fan King Yiu, Ho Sze Nga, Lung Yue Hin Hinnes, Wong Wai Chun</p>
    <p>Please login as admin with admin password: admin</p>
    <p>Please login as a project manager with pm1 password: pm1</p>
    <p>Please login as a developer with dev1 password: dev1</p>
</div>

<style>
    form{
        margin: auto;
        max-width: 330px;
        padding: 36px;
    }
</style>