<nav-bar></nav-bar>
<div class="container-fluid">
<div class="row">
<div class="col-md-2">
    <legend>Projects</legend>
    <nav-column delegate="self"></nav-column>
    <br>
    <button type="button" class="btn btn-default btn-md" ng-click="createProject();" style="width: 100%">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Project
    </button>
</div>
<div class="col-md-10">
    <div class="container">

        <uib-tabset>
            <!--Developers-->
            <uib-tab>
                <uib-tab-heading>
                    <i class="glyphicon glyphicon-user"></i> Developers
                </uib-tab-heading>
                <div class="panel panel-default">
                    <div class="panel-heading">Developers</div>
                    <table class="table">
                        <tr>
                            <th>id</th><th>Username</th><th>Display name</th><th>email</th><th></th>
                        </tr>
                        <tr ng-repeat="dev in project.developers">
                            <td>{{dev.id}}</td>
                            <td>{{dev.username}}</td>
                            <td>{{dev.display_name}}</td>
                            <td>{{dev.email}}</td>
                            <td><a href ng-click="console.log('not implemented')">Remove</a></td>
                        </tr>
                    </table>
                </div>

            </uib-tab>

            <!--Phases-->
            <uib-tab>
                <uib-tab-heading>
                    <i class="glyphicon glyphicon-th-list"></i> Phases
                </uib-tab-heading>

                <button type="button" class="btn btn-default btn-md" ng-click="createProject();">
                    <span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Close Iteration
                </button>

                <div class="row" ng-repeat="(phaseIndex, phase) in project.phases">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">{{phase.title}}</div>
                            <table class="table">
                                <tr>
                                    <th>id</th><th>Index</th><th>Display name</th><th>email</th><th></th>
                                </tr>
                                <tr ng-repeat="(iterationIndex, iteration) in phase.iterations">
                                    <td>{{iteration.id}}</td>
                                    <td>{{iterationIndex}}</td>
                                    <td>{{iteration.id}}</td>
                                    <td>{{pm.email}}</td>
                                    <td><a href ng-click="editUser(pm);">Edit</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </uib-tab>

            <!--Metrics-->
            <uib-tab>
                <uib-tab-heading>
                    <i class="glyphicon glyphicon-signal"></i> Metrics
                </uib-tab-heading>

            </uib-tab>
        </uib-tabset>




    </div>
</div>
</div>
</div>