<div class="panel-heading">Defects</div>
<table class="table">
    <tr>
        <th>id</th><th>Report Time</th><th>Reporter</th><th>Type</th><th>Description</th>
        <th>Injection</th><th>Removal</th>
        <th></th>
    </tr>
    <tr ng-repeat="defect in defects">
        <td>{{defect.id}}</td>
        <td>{{defect.created_dateTime | date:"dd/MM/yyyy h:mma"}}</td>
        <td>{{defect.developer.username}}</td>
        <td>{{defectService.defectTypeFromType(defect.defect_type)}}</td>
        <td>{{defect.description}}</td>
        <td>{{projectService.phaseFromType(defect.injected_in_iteration.phase.phase_type)}},
            Iteration {{defect.injected_in_iteration.index}},
            {{defectService.iterationActivityFromType(defect.iteration_activity_type)}}</td>
        <td>{{projectService.phaseFromType(defect.removed_in_iteration.phase.phase_type)}},
            Iteration {{defect.removed_in_iteration.index}}</td>
        <td><a href ng-click="delegate.defectTableEditDefect(defect)" ng-if="isMine(defect);">Edit</a></td>
    </tr>
</table>