<div class="container">
<div class="row">
<div class="col-md-12">
    <form class="form-horizontal" name="defectForm" ng-submit="defectForm.$valid && create()" novalidate>
        <fieldset>

            <!-- Type -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="type">Defect type</label>
                <div class="col-md-4">
                    <select id="type" name="type" class="form-control" ng-model="type">
                        <option value="R">Requirements</option>
                        <option value="D">Design</option>
                        <option value="I">Implementation</option>
                        <option value="B">Bad Fix</option>
                    </select>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="description">Description</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="description" name="description" ng-model="description"></textarea>
                </div>
            </div>

            <!-- Phase -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="phase">Phase</label>
                <div class="col-md-4">
                    <select id="phase" name="phase" class="form-control" ng-model="phase">
                        <option value="I">Inception</option>
                        <option value="E">Elaboration</option>
                        <option value="C">Construction</option>
                        <option value="T">Transition</option>
                    </select>
                </div>
            </div>

            <!-- Iteration -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="iteration">Iteration</label>
                <div class="col-md-4">
                    <select id="iteration" name="iteration" class="form-control" ng-model="iteration">
                        <option ng-repeat="iteration in iterations" value="{{iteration}}">{{iteration}}</option>
                    </select>
                </div>
            </div>

            <!-- Activity -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="activity">Iteration Activity</label>
                <div class="col-md-4">
                    <select id="activity" name="activity" class="form-control" ng-model="activity">
                        <option value="R">Requirements</option>
                        <option value="D">Design</option>
                        <option value="C">Coding</option>
                    </select>
                </div>
            </div>

            <!-- Shared -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="isShared">Share to other developers</label>
                <div class="col-md-4">
                    <input type="checkbox" name="isShared" id="isShared" value="1">
                </div>
            </div>

            <br>

            <div class="col-md-4 col-md-offset-4">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
            </div>
        </fieldset>
    </form>
</div>
</div>
</div>
